<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinalSwfitProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0273D6291CCCD2A5001EF577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0273D63D1CCCD2A5001EF577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0273D6481CCCD2A5001EF577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
